


body {background-color:CORAL;
    font-family: cursive;
}


mark{
  background-color: chocolate;
  color:black;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow:hidden;
    background-color:#ff8c1a;
    
        position: relative;
        
    
  
  }
  li{float:left;}
  li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-align:center;
    text-decoration: none;
    text-decoration: none;
  }
  .activ{

    background-color: pink;
  }

  li a:hover {
    background-color: #555;
    color: white;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:brown;
    color: white;
    text-align: center;
 }-----d